.home-animate-slider {
  padding: 100px 0px 100px 130px;
  background-color: var(--homePageBg);
}
.home-page-animated-slider-card-box {
  background: var(--white);
  box-shadow: 3px 12px 50px var(--sliderShadow);
  border-radius: 8px;
  width: 585px;
  padding: 57px 64px;
}
.home-page-animated-slider-card-text-box {
  display: flex;
}
.home-page-animated-slider-card-text-box img {
  width: 51px;
  height: 40px;
}
.home-animated-swiper-prev,
.home-animated-swiper-next {
  width: 60px;
  height: 60px;
}
.home-animated-swiper-next {
  margin-left: 18px;
}
.home-page-animated-slider-card-text-box p {
  margin-left: 24px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--customBlue2);
}
.home-page-animated-slider-card-box img:nth-child(2) {
  margin-top: 40px;
}
.home-animate-slider .swiper-slide {
  padding: 50px 0px;
  width: 585px;
}
.home-animate-slider .swiper-slide .home-page-animated-slider-card-text-box p {
  color: var(--slider-text);
}
.home-animate-slider
  .swiper-slide
  .home-page-animated-slider-card-text-box
  svg
  path {
  fill: var(--slider-text);
}
.home-animate-slider
  .swiper-slide-active
  .home-page-animated-slider-card-text-box
  svg
  path {
  fill: var(--custom-blue-color);
}
.home-animate-slider
  .swiper-slide-active
  .home-page-animated-slider-card-text-box
  p {
  color: var(--customBlue2);
}
.home-animate-slider .swiper-slide .slider-logo-icon path {
  fill: var(slider-icon-path-color);
}

.home-animate-slider .swiper-slide-active .slider-logo-icon path {
  fill: var(--customBlue2);
}

.home-animated-btn-roles-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 85px;
}
.home-page-animated-slider-card-text-box svg:nth-child(1) {
  width: 200px;
}

@media (max-width: 1280px) {
  .home-animate-slider {
    padding: 100px 0px 100px 100px;
  }
}
@media (max-width: 832px) {
  .home-page-animated-slider-card-text-box {
    display: initial;
  }
  .home-page-animated-slider-card-text-box svg:nth-child(1) {
    display: none;
  }
  .home-page-animated-slider-card-box {
    width: 585px;
    padding: 32px 27px;
  }
  .home-page-animated-slider-card-text-box p {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .home-animate-slider .swiper-slide {
    padding: 32px 27px;
    width: 258px;
  }
  .home-page-animated-slider-card-box {
    width: 258px;
    padding: 32px 27px;
  }
  .home-page-animated-slider-card-text-box p {
    font-size: 18px;
    line-height: 23px;
  }
  .home-animate-slider {
    padding: 30px 0px 30px 30px;
  }
  .home-animated-btn-roles-wrapper {
    justify-content: initial;
    margin-left: 15px;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .home-animate-slider {
    padding: 80px 28px;
  }
}
