.landing-questions-wrapper {
  padding: 98px 200px 124px 200px;
  font-family: "Poppins";
}

.landing-questions-card-wrapper {
  display: grid;
  grid-template-columns: calc(50% - 59px) calc(50% - 59px);
  column-gap: 118px;
  row-gap: 28px;
  margin-top: 68px;
}
.landing-questions-card h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: var(--customBlue);
}
.landing-questions-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--accColor);
}
@media (max-width: 1280px) {
  .landing-questions-wrapper {
    padding: 98px 100px 124px 100px;
  }
}
@media (max-width: 991px) {
  .landing-questions-wrapper {
    padding: 98px 50px 124px 50px;
  }
  .landing-questions-card-wrapper {
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    column-gap: 50px;
  }
}
@media (max-width: 768px) {
  .landing-questions-wrapper {
    padding: 40px 30px 40px 30px;
  }
  .landing-questions-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 50px;
  }
}
