.marketing-content-box {
  background-image: url("../../../assets/img/BirdsAiBG.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.marketing-title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px 0px 0px;
}
.solution-content {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--home-blog-color);
  padding: 2px 27px;
  display: inline-block;
  background-color: var(--solution-content-bg);
  box-shadow: 0px 20px 60px var(--home-blog-shadow);
  border-radius: 5px;
}
.marketing-content-title {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: var(--white);
  width: 555px;
  margin-top: 15px;
}
.marketing-cards-wrapper {
  padding: 0px 160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 32px;
}
.maketing-card-inner {
  padding: 20px 22px;
  background-color: var(--white);
  box-shadow: 3px 12px 50px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.maketing-card-inner h1 {
  font-family: "Poppins";
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--accColor);
}
.maketing-card-inner h1 span {
  font-weight: 700;
}
.marketing-help-btn-box button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  padding: 13px 27px;
  background-color: var(--challangeColor);
  border-radius: 5px;
  margin-top: 32px;
  margin-bottom: 66px;
}
.marketingBanner {
  background-color: var(--mainbannercolor);
  padding: 55px 30px;
}
.marketingBanner h1 {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 0.005em;
  text-align: center;
  color: var(--white);
}
.marketingBanner-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 39px;
}
.marketingBanner button {
  padding: 18px 36px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0px 20px 60px var(----home-blog-shadow);
  border-radius: 5px;
}
.marketingBanner button:nth-child(1) {
  color: var(--customBlue);
  background-color: var(--white);
}
.marketingBanner button:nth-child(2) {
  color: var(--white);
  border: 1px solid var(--white);
  margin-left: 15px;
  padding: 17px 36px;
}
@media (max-width: 1280px) {
  .marketing-cards-wrapper {
    padding: 0px 100px;
  }
  .marketing-content-box {
    background-position: initial;
  }
}
@media (max-width: 991px) {
  .marketing-cards-wrapper {
    padding: 0px 50px;
  }
}
@media (max-width: 900px) {
  .marketing-cards-wrapper {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    gap: 30px;
    margin-top: 0px;
  }
}
@media (max-width: 685px) {
  .marketing-cards-wrapper {
    grid-template-columns: 100%;
    gap: 19px;
    margin-top: 40px;
  }
  .marketing-content-title {
    font-size: 32px;
    line-height: 44px;
    width: initial;
  }
  .marketingBanner h1 {
    font-size: 40px;
    line-height: 120%;
  }
}
@media (max-width: 500px) {
  .marketing-cards-wrapper {
    padding: 0px 30px;
  }
  .marketingBanner-btn-box {
    flex-direction: column;
    margin-top: 39px;
  }

  .marketingBanner button:nth-child(2) {
    color: var(--white);
    border: 1px solid var(--white);
    margin-left: 0px;
    margin-top: 15px;
    padding: 14px 22px;
  }
  .marketing-title-content {
    padding: 40px 30px 0px 30px;
  }
  .marketing-help-btn-box button {
    margin-top: 20px;
    margin-bottom: 24px;
  }
}
