.home-page-blog-wrapper {
  background-color: var(--homePageBg);
  padding: 130px 150px 50px 130px;
  font-family: "Poppins";
}

.home-page-blog-title-wrapper button {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--home-blog-color);
  padding: 2px 15px;
  border-radius: 5px;
  background-color: var(--home-page-blog-title-bg-color);
  box-shadow: 0px 20px 60px var(--home-blog-shadow);
}
.home-page-blog-title-wrapper h1 {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  text-transform: capitalize;
  color: var(--customBlue2);
  margin-top: 10px;
}
.home-blog-grid-system {
  display: grid;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  gap: 30px;
  margin-top: 45px;
}
.home-blog-first-img {
  width: 100%;
  height: auto;
}

.home-blog-first-grid-section p:nth-child(1) {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--home-blog-first-grid-paragraph);
  opacity: 0.7;
  margin-top: 30px;
}
.home-blog-first-grid-section h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: var(--footerColor2);
}

.home-blog-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--home-blog-description);
  opacity: 0.7;
}
.home-blog-grid-card-wrapper {
  display: flex;
}
.home-blog-grid-card-wrapper img {
  width: 30%;
  height: auto;
}
.home-blog-grid-card-wrapper:nth-child(2),
.home-blog-grid-card-wrapper:nth-child(3) {
  margin-top: 30px;
}
.home-blog-grid-card-wrapper > div {
  margin-left: 20px;
  padding-top: 15px;
}

.home-blog-grid-card-wrapper > div p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--home-blog-first-grid-paragraph);
  opacity: 0.7;
}
.home-blog-grid-card-wrapper > div h5 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
}
@media (max-width: 1280px) {
  .home-page-blog-wrapper {
    padding: 130px 100px 50px 100px;
  }
}
@media (max-width: 1220px) {
  .home-blog-grid-card-wrapper > div h5 {
    font-size: 21px;
    line-height: 24px;
  }
}
@media (max-width: 1143px) {
  .home-blog-first-grid-section h1 {
    font-size: 23px;
    line-height: 30px;
  }
  .home-blog-grid-card-wrapper > div h5 {
    font-size: 19px;
    line-height: 23px;
  }
}
@media (max-width: 1027px) {
  .home-blog-grid-card-wrapper > div h5 {
    font-size: 17px;
    line-height: 21px;
  }
  .home-blog-grid-card-wrapper > div p {
    font-size: 13px;
    line-height: 8px;
  }
  .home-blog-first-grid-section p:nth-child(1) {
    font-size: 15px;
    line-height: 17px;
    margin-top: 10px;
  }
  .home-blog-description {
    font-size: 15px;
    line-height: 19px;
  }
}
@media (max-width: 991px) {
  .home-page-blog-wrapper {
    padding: 130px 50px 50px 50px;
  }
  .home-blog-grid-system {
    grid-template-columns: 100%;
    gap: 30px;
    margin-top: 30px;
  }
}
@media (max-width: 552px) {
  .home-page-blog-wrapper {
    padding: 82px 30px 30px 30px;
  }
  .home-page-blog-title-wrapper h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
