.pricing-bg-wrapper {
  background-image: url("../../../assets/img/full-pricing-blue-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--homePageBg);
  background-size: 100% 100%;
  min-height: 1500px;
  padding: 76px 150px 80px 150px;
}
.pricing-title-box {
}
.pricing-title {
  font-family: "Manrope";
  font-weight: 300;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -1px;
  color: var(--white) !important;
  width: 700px;
}
.pricing-title span {
  font-weight: 600;
}
.price-role-btn-wrapper {
  background: var(--price-role-btn-wrapper-border);
  border: 1px solid var(--price-role-btn-wrapper-border);
  border-radius: 52px;
  padding: 7px;
  margin-top: 40px;
}
.price-role-btn-wrapper button {
  padding: 15px 31px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: var(--customBlue);
  border-radius: 52px;
}

.price-annualy-active {
  background: radial-gradient(50% 50% at 50% 50%, #1f52bb 0%, #3468d3 100%);
  color: var(--white) !important;
}
.price-annualy-unActive {
  background-color: transparent;
}
.price-role-btn-wrapper button:nth-child(2) {
  margin-left: 15px;
}
.order-notification-text-wrapper {
  flex-direction: row;
  margin-top: 49px;
}
.order-notification-text-wrapper h4:nth-child(1) {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: var(--white);
}
.order-notification-text-wrapper h4:nth-child(1) span {
  font-weight: 700;
}
.order-notification-text-wrapper h4:nth-child(2) {
  padding: 7px 18px;
  color: var(--order-notification-text-wrapper-color);
  background: var(--order-notification-text-color);
  border: 1px solid #c7f3d3;
  border-radius: 52px;
  margin-left: 25px;
  font-weight: 700;
  line-height: 22px;
}
.pricing-order-card-wrapper {
  display: grid;
  align-items: start;
  grid-template-columns: calc(33% - 13px) calc(33% - 13px) calc(33% - 13px);
  gap: 30px;
  font-family: "Poppins";
  margin-top: 43px;
}
.price-order-title-word {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 32px 0px;
  color: var(--inrtoTitle);
}
.pricing-oreder-card {
  padding: 32px 30px 22px 30px;
  background: var(--white);
  box-shadow: 3px 12px 50px var(--order-notification-text-shadow);
  border-radius: 8px;
}
.pricing-oreder-card h1 {
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--customBlue2);
  text-align: center;
}
.pricing-oreder-card-first-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--order-notification-text-wrapper-color);
  border: 1px solid var(--order-notification-text-wrapper-color);
  background: var(--white);
  box-shadow: 3px 12px 50px rgba(98, 111, 180, 0.08);
  border-radius: 8px;
  padding: 12px 0px;
  width: 100%;
  margin-top: 15px;
}
.pricing-oreder-card-description {
  padding: 32px 0px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--home-blog-description);
  opacity: 0.7;
  border-top: 1px solid var(--pricing-oreder-card-description);
  border-bottom: 1px solid var(--pricing-oreder-card-description);
}
.price-order-chance-wrapper {
  display: flex;
  flex-direction: column;
}
.price-order-chance-wrapper p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--customBlue2);
  margin-left: 5px;
}
.pricing-oreder-card-last-button {
  padding: 12px 0px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  background: var(--customBlue);
  border-radius: 4px;
  margin-top: 24px;
}
.price-order-chance {
  display: flex;
}

.pricing-oreder-card {
  padding: 32px 20px 22px 20px;
}

@media (max-width: 1280px) {
  .pricing-bg-wrapper {
    padding: 76px 70px 80px 70px;
  }
}
@media (max-width: 1158px) {
  .pricing-order-card-wrapper {
    gap: 18px;
  }
}
@media (max-width: 1110px) {
  .pricing-oreder-card h1 {
    font-size: 29px;
    line-height: 88%;
  }
  .pricing-oreder-card-first-button {
    font-size: 13px;
    line-height: 24px;
    padding: 4px 0px;
    margin-top: 10px;
  }
  .price-order-title-word {
    font-size: 14px;
    line-height: 18px;
    margin: 20px 0px;
  }
  .pricing-oreder-card-description {
    padding: 17px 0px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 20px;
  }
  .price-order-chance-wrapper p {
    font-size: 14px;
    line-height: 18px;
  }
  .pricing-oreder-card-last-button {
    padding: 4px 0px;
    font-size: 13px;
    line-height: 24px;
  }
}

@media (max-width: 991px) {
  .pricing-bg-wrapper {
    padding: 76px 50px 80px 50px;
  }
}
@media (max-width: 900px) {
  .pricing-order-card-wrapper {
    align-items: initial;
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
  }
  .pricing-oreder-card:nth-child(1) {
    position: relative;
  }
  .pricing-oreder-card:nth-child(1) .pricing-oreder-card-last-button {
    position: absolute;
    bottom: 22px;
    width: 90%;
  }
}
@media (max-width: 768px) {
  .pricing-order-card-wrapper {
    align-items: start;
    grid-template-columns: 100%;
    column-gap: 0;
    row-gap: 18px;
  }
  .pricing-oreder-card:nth-child(1) {
    position: static;
  }
  .pricing-oreder-card:nth-child(1) .pricing-oreder-card-last-button {
    position: static;
    width: 100%;
  }
  .pricing-bg-wrapper {
    background-image: url("../../../assets/img/priceOrderResponsiveimage.png");
    min-height: 800px;
  }
  .pricing-title {
    font-size: 48px;
    line-height: 56px;
    width: initial;
  }
  .price-role-btn-wrapper button:nth-child(2) {
    margin-left: 10px;
  }
  .order-notification-text-wrapper {
    flex-direction: column;
  }
  .order-notification-text-wrapper h4:nth-child(2) {
    margin-top: 25px;
  }
  .pricing-bg-wrapper {
    padding: 76px 30px 80px 30px;
  }
}
