.slider-card-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 52px 0px;
}
.slider-card-title-wrapper button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--home-blog-color);
  background: #ecf2fe;
  box-shadow: 0px 20px 60px var(--home-blog-shadow);
  border-radius: 5px;
  padding: 2px 41px;
}
.slider-card-title-wrapper h1 {
  font-family: "Manrope";
  font-weight: 800;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  text-transform: capitalize;
  color: var(--customBlue2);
  margin-top: 10px;
}
.slider-card-title-wrapper p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
  color: var(--home-blog-description);
  width: 700px;
}
// slider item style

.home-slider-inner-wrapper {
  background: var(--white);
  box-shadow: 3px 12px 50px var(--sliderShadow);
  border-radius: 8px;
  height: 331px;
  padding: 75px 49px;
}
.home-slider-inner-wrapper h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -1px;
  text-align: center;
  text-transform: capitalize;
  color: var(--customBlue2);
}
.home-slider-inner-wrapper {
  margin: 36px 0px;
}
.slider-box .swiper-slide {
  width: 331px;
}

@media (max-width: 768px) {
  .two-home-card-slide-wrapper {
    display: none;
  }
  .home-slider-inner-wrapper {
    height: 214px;
    padding: 47px 26px;
  }
  .home-slider-inner-wrapper h1 {
    font-size: 20px;
    line-height: 30px;
    margin-top: 16px;
  }
  .slider-box .swiper-slide {
    width: 233px;
  }
  .slider-card-title-wrapper p {
    font-size: 16px;
    line-height: 160%;
    width: initial;
  }
  .slider-card-title-wrapper h1 {
    font-size: 40px;
    line-height: 50px;
    margin-top: 10px;
  }
  .slider-card-title-wrapper {
    padding: 52px 30px 0px 30px;
  }
}
